.main-container {
    display: flex;
    border-bottom: 1px solid grey;
    /* width: 1170px; */
    /* height: 38px; */
    /* position: absolute; */
    top: 135px;
    justify-content: space-between;
    /* gap: 148px; */
 }

 .name {
    display: flex;
    gap: 148px;
 }

 ul {
    list-style: none;
    display: flex;
    gap: 30px;
 }

